# Core
numpy
opencv-python

# OCR
paddlepaddle
paddleocr
manga-ocr

# Deep Learning
torch
torchvision

# Translation
transformers
sentencepiece
sacremoses
accelerate

# Tracking
norfair

# Image/Text Rendering
Pillow

# Data Handling
pandas

# Progress Bars
tqdm

# Web Server
flask

# JSON Validation (optional)
pydantic

# Utilities
scipy

# Video Processing
ffmpeg-python

# webapp
flask